.link {
    text-decoration: none;
    font-style: italic;
    color: darkcyan;
    padding: 0.3rem;
}
.detailContainer {
    border: 1px solid black;
    color: skyblue;
    border-radius: 1rem;
    margin: 0.2rem;
    min-width: 8rem;
    display: inline-block;
    text-align: center;
}
.detailButtonContainer {
    border: 1px solid black;
    color: skyblue;
    border-radius: 1rem;
    margin: 0.2rem;
    min-width: 8rem;
    display: inline-block;
    text-align: center;
}
.para {
    margin-bottom: 0.5rem;
}